@font-face{
  font-family: Lato;
  src: url('../fonts/Lato-Regular.ttf')
}

@font-face{
  font-family: Anton;
  src: url('../fonts/Anton-Regular.ttf')
}
/* CSS colours to change/refactor */
*{
  font: 17px/25px Lato, sans-serif;
  height: auto;
  background: #cedfea; 
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  background: transparent;
}

.Layout {
  display: grid;
  grid-template: 
                  "TopBarArea" auto
                  "ContentArea" auto
                  "FooterArea" auto / 1fr;
  margin: 0px;
  overflow: hidden;
}