@font-face{
  font-family: Lato;
  src: url('../fonts/Lato-Regular.ttf')
}

@font-face{
  font-family: Anton;
  src: url('../fonts/Anton-Regular.ttf')
}

*{
  font: 15px/21px Lato, sans-serif;
  height: auto;
  background: #cedfea;
  margin: 0;
  padding: 0;
}

.Layout {
  display: grid;
  grid-template: 
                  "TopBarArea TopBarArea" auto
                  "MainMenuArea ContentArea" auto
                  "FooterArea FooterArea" auto / 200px 1fr;
  margin: 0px;
  overflow: hidden;
}

.random{
  color: #ed98db;
  color: #cedfea;
  color: #375e96;
  color: #eef5fb;
  color: #5d82b8;
}