@font-face{
  font-family: Lato;
  src: url('../fonts/Lato-Regular.ttf')
}

@font-face{
  font-family: Anton;
  src: url('../fonts/Anton-Regular.ttf')
}

*{
  font: 17px/25px Lato, sans-serif;
  height: auto;
  background: #cedfea;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  background: transparent;
}

.Layout {
  display: grid;
  grid-template: 
                  "TopBarArea" auto
                  "ContentArea" auto
                  "FooterArea" auto / 1fr;
  margin: 0px;
  overflow: hidden;
}

.Layout h1 {
  text-transform: uppercase;
  background: #ed98db;
  color: #eef5fb;
  padding: 10px;
  font-size: 2em;
  font-family: 'Anton';
  user-select: none;
  margin-top: 0.5em;
}

.random{
  color: #ed98db;
  color: #cedfea;
  color: #375e96;
  color: #eef5fb;
  color: #5d82b8;
}